<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <description>Filter to check if the user is logged in.</description>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>sait.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <description>Filter to check if the user is authorized to access admin privileges.</description>
        <filter-name>RoleFilter</filter-name>
        <filter-class>sait.filter.RoleFilter</filter-class>
    </filter>
    <filter>
        <description>Filter to prevent access to login and register pages if the user is already logged in.</description>
        <filter-name>UserSessionFilter</filter-name>
        <filter-class>sait.filter.UserSessionFilter</filter-class>
    </filter>
    <filter>
        <description>Filter to prevent admin users from accessing account management.</description>
        <filter-name>AccountControlFilter</filter-name>
        <filter-class>sait.filter.AccountControlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>NoteServlet</servlet-name>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-name>AccountServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <servlet-name>AdminServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserSessionFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-name>ResetPasswordServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AccountControlFilter</filter-name>
        <servlet-name>AccountServlet</servlet-name>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>sait.util.EMFListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>NoteServlet</servlet-name>
        <servlet-class>sait.servlet.NoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>sait.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>sait.servlet.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sait.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>sait.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>sait.servlet.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NoteServlet</servlet-name>
        <url-pattern>/notes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <error-page>
        <!-- Missing login -->
        <error-code>401</error-code>
        <location>/WEB-INF/errorpages/general-error.html</location>
    </error-page>
    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>403</error-code>
        <location>/WEB-INF/errorpages/general-error.html</location>
    </error-page>
    <error-page>
        <!-- Missing resource -->
        <error-code>404</error-code>
        <location>/WEB-INF/errorpages/error404.html</location>
    </error-page>
    <error-page>
        <!-- Uncaught exception -->
        <error-code>500</error-code>
        <location>/WEB-INF/errorpages/general-error.html</location>
    </error-page>
    <error-page>
        <!-- Unsupported servlet method -->
        <error-code>503</error-code>
        <location>/WEB-INF/errorpages/general-error.html</location>
    </error-page>
    <env-entry>
        <env-entry-name>webmail-username</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>f.cprg352@gmail.com</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>webmail-password</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>saitsaitsait</env-entry-value>
    </env-entry>
    <welcome-file-list>
        <welcome-file>notes</welcome-file>
    </welcome-file-list>
</web-app>
